include /mixins/forms.pug
include /mixins/helpers.pug

doctype html
html(lang="en")
  head
    title= Title
    script(src='/assets/main.js')
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href="/") Task Manager
      button.navbar-toggler(data-toggle="collapse" data-target="#navbarSupportedContent")
        span.navbar-toggler-icon
      .collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          +getNavItem('users', 'Users')
          +getNavItem('statusAll', 'Status')
          +getNavItem('tasksAll', 'Tasks')
        ul.navbar-nav
          if isSignedIn()
            li.nav-item
              a.nav-link(href=urlFor('userSettings')) Settings
            li.nav-item
              a.nav-link(href=urlFor('session') data-method='delete' rel='nofollow') Sign Out
          else
            li.nav-item
              a.nav-link(href=urlFor('newSession')) Sign In
            li.nav-item
              a.nav-link(href=urlFor('newUser')) Sign Up
    .container
      - const msg = flash.get()
      if msg
        .alert.alert-info.m-3= msg
      block filters
      block content