extends /layouts/application.pug

block filters
  form.form-inline.mt-4
    div.form-group.mx-2
      select(name='status' class='custom-select form-control')
        each status in filtersOptions.statuses
          if defaults.status.id === status.id
            option(selected=status.id value=status.id)= status.name
          else
            option(value=status.id)= status.name
        if defaults.status.id === 'null'
          option(selected=defaults.status.id value=defaults.status.id)= defaults.status.name
        else
          option(value='null')= t('view.task.filter.status')
            
    div.form-group.mx-2
      select(name='assignedTo' class='custom-select form-control')
        each executor in filtersOptions.executors
          if defaults.assignedTo.id === executor.id
            option(selected=executor.id value=executor.id)= executor.fullName
          else
            option(value=executor.id)= executor.fullName
        if defaults.assignedTo.id === 'null'
          option(selected=defaults.assignedTo.id value=defaults.assignedTo.id)= defaults.assignedTo.name
        else
          option(value='null')= t('view.task.filter.assigned_to')
    div.form-group.mx-2
      input(type='text' name='tags' value=defaults.tags placeholder=t('view.task.filter.tags_placeholder')).form-control
    if isSignedIn()
      div.form-group.custom-control.custom-checkbox.mx-2
        input(name='self' checked=defaults.self type='checkbox' id='self-checkbox').custom-control-input
        label(for='self-checkbox').custom-control-label= t('view.task.filter.my_tasks')
    div.form-group.mx-2
      input(type='submit' value=t('view.buttons.search')).btn.btn-primary
          

block content
  table.table.table-stripped.table-hover.mt-4
    thead
      tr
        th= t('view.task.name')
        th= t('view.task.status')
        th= t('view.task.creator')
        th= t('view.task.assigned_to')
        th= t('view.task.created_at')
        th 
          if isSignedIn()
            +buttonLink('newTask', 'get', t('view.buttons.add_task'))
    tbody
      each task in tasks
        tr
          td= task.name
          td= task.Status.name
          td= task.Creator ? task.Creator.fullName : 'nobody'
          td= task.Executor ? task.Executor.fullName : 'nobody'
          td= task.formatedDate
          td
            div.mr-1.btn-group
              - const id = task.id;
              if isSignedIn()
                +buttonLink(['editTask', { id }], 'get', t('view.buttons.change'), 'btn-secondary')
                +buttonLink(['task', { id }], 'delete', t('view.buttons.delete'), 'btn-danger')
              else
                +buttonLink(['task', { id }], 'get', t('view.buttons.view'), 'btn-secondary')